p work in progress

- one = File.read(File.dirname(__FILE__) + "/../../../public/code/1.rb")
- html = CodeRay.scan(one, :ruby).div(:line_numbers => :inline)
= raw(html)

/ - one = File.dirname(__FILE__) + "/../../../public/code/1.rb"
/ - html = CodeRay.scan_file(one).div(:line_numbers => :table)
