// Your footer style
.footer {
  height: 4em;  /* footer height */
  padding-top: 20px;
  display: block;
  margin-top: 2em; /* space between content and footer */
  box-sizing: border-box;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid gray;
  ul {
    padding-right: 1em;
  }
  li {
    font-size: 2.5em;
    a {
      color: inherit;
    }
  }
}
